.navbar {
  position: relative;
  padding: 20px;
  background-color: #f8f9fa;
  display: flex;
  justify-content: flex-end;
}

.navbar-item {
  margin-left: 10px;
  text-decoration: none;
  color: #333;
}

.navbar-item:first-child {
  margin-left: 0;
}

